<html>
<head>
<style>
    body{
        text-align: center;
        margin-top: 50px;
        font-size: medium;
        background-color: aqua;
    }

    h1{
        color: darkblue;
    }

    h5{
        color:blue;
        background-color: aqua;
    }
    
    input[type="submit"]{
        background-color: aqua;
        color: darkblue;
        margin: 4px;
    }   
</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " />
    <br><br>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p>
    <br><br>
    <footer>
        <h5>
            Created By Vaibhav Bagaria
        </h5>
    </footer>
</body>
</html>
